<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>festigoapp</string>
			</array>
			<key>CFBundleURLName</key>
			<string>App Link</string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google Sing In</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.367868191124-lga25bn69k2t2iac56r7cnj34prpcn72</string>
			</array>
		</dict>
	</array>
	<key>SERVER_BASE_URL</key>
	<string>http://127.0.0.1:8000</string>
	<key>SERVER_RENDER_URL</key>
	<string>https://festigo-server.onrender.com</string>
	<key>UIBackgroundModes</key>
	<array/>
</dict>
</plist>
